html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #6bd1b6;
}

.easy {
  height: 29%;
  width: 29%;
}

.medium {
  height: 20%;
  width: 20%;
}

.hard {
  height: 17%;
  width: 17%;
}

img {
  margin: 0.5%;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.selected {
  border: 5px solid springgreen;
}

.incorrect {
  border: 5px solid red;
}

.matched {
  display: none;
}

#failure {
  color: red;
  display: none;
  margin: 0;
}

#success {
  display: none;
  color: green;
  margin: 0;
}

#instructions {
  margin-bottom: 0;
}

h1,
h2 {
  font-family: 'Verdana', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 1.2vw;
}

#hint {
  display: none;
}

#info-panel {
  height: 12vh;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  border: solid 1px black;
}

#button-image {
  width: 9%;
  height: 93%;
}

#button {
  background-color: transparent;
  border: 0;
  padding-top: 0;
  width: 50%;
  display: inline;
}

#button-text {
  position: absolute;
  margin-left: 1.6%;
  margin-top: 1.6%;
  color: white;
  display: inline;
  text-decoration: none;
  font-size: 1.2vw;
}

#button-container {
  width: 100%;
}